<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-accordian></app-accordian>
      <app-accordian></app-accordian>
      <app-accordian></app-accordian>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-12">
      <app-test>
        <h1>This is heading for test component</h1>
      </app-test>
    </div> -->
    <!-- <div class="col-6">
      <app-auth>
        <h3>Sign In to Platform</h3>
        <button class="btn btn-primary">Log In</button>
      </app-auth>
    </div>
    <div class="col-6">
      <app-auth>
        <h3>Create Account</h3>
        <button class="btn btn-primary">Sign Up</button>
      </app-auth>
    </div> -->
  </div>
</div>