<!-- <h3>Login to Platform</h3> -->
<!-- <h3>Creat Account</h3> -->
<ng-content select="h3"></ng-content>
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username">
</div>

<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
</div>

<div class="text-right">
    <ng-content select=".btn"></ng-content>
    <!-- <button class="btn btn-primary">
        Sign In
    </button> -->
</div>
